<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gift_suggestions_squre"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gift_suggestions_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GiftSuggestions"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".Fav_class"
            android:exported="false" />
        <activity
            android:name=".ImageSlide"
            android:exported="false" />
        <activity
            android:name=".product_shop.SellerEntry"
            android:exported="false" />
        <activity
            android:name=".Full_Details"
            android:exported="false" />
        <activity
            android:name=".product_shop.ProductFullView"
            android:exported="false" />
        <activity
            android:name=".product_shop.ShopEdit"
            android:exported="false" />
        <activity
            android:name=".product_shop.ProductEdit"
            android:exported="false" />
        <activity
            android:name=".ActivitySecond"
            android:exported="false" />
        <activity
            android:name=".product_shop.ShopAdd"
            android:exported="false" />
        <activity
            android:name=".product_shop.ProductAdd"
            android:exported="false" />
        <activity
            android:name=".otp.OtpVerify"
            android:exported="false" />
        <activity
            android:name=".otp.OtpSend"
            android:exported="false" />
        <activity
            android:name=".product_shop.SellerProfileProductList"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiftSuggestions"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name=".imagepicker.ImagePickerActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent.ImagePicker" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".notification.NotificationView" />
        <activity android:name=".notification.ST_Activity" />

        <service
            android:name=".notification.FirebaseMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="nithra.gift.suggestion.shop.birthday.marriage.imagepicker.ImagePickerFileProvider"
            android:authorities="${applicationId}.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths_new" />

        </provider>


        <!--  <provider
              android:name="androidx.core.content.FileProvider"
              android:authorities="${applicationId}"
              android:exported="false"
              android:grantUriPermissions="true">
              <meta-data
                  android:name="android.support.FILE_PROVIDER_PATHS"
                  android:resource="@xml/provider_paths_new" />
          </provider>-->
    </application>

</manifest>