<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nithra.gift.suggestion.shop.birthday.marriage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gift_suggestions_squre"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gift_suggestions_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GiftSuggestions"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SellerEntry"
            android:exported="false" />
        <activity
            android:name="nithra.gift.suggestion.shop.birthday.marriage.Full_Details"
            android:exported="false" />
        <activity
            android:name="nithra.gift.suggestion.shop.birthday.marriage.SellerProfile"
            android:exported="false" />
        <activity
            android:name="nithra.gift.suggestion.shop.birthday.marriage.ProductFullView"
            android:exported="false" />
        <activity
            android:name="nithra.gift.suggestion.shop.birthday.marriage.ShopEdit"
            android:exported="false" />
        <activity
            android:name="nithra.gift.suggestion.shop.birthday.marriage.ProductEdit"
            android:exported="false" />
        <activity
            android:name="nithra.gift.suggestion.shop.birthday.marriage.MyProduct"
            android:exported="false" />
        <activity
            android:name="nithra.gift.suggestion.shop.birthday.marriage.ActivitySecond"
            android:exported="false" />
        <activity
            android:name="nithra.gift.suggestion.shop.birthday.marriage.Otp.ShopAdd"
            android:exported="false" />
        <activity
            android:name="nithra.gift.suggestion.shop.birthday.marriage.Otp.ProductAdd"
            android:exported="false" />
        <activity
            android:name="nithra.gift.suggestion.shop.birthday.marriage.Otp.OtpVerify"
            android:exported="false" />
        <activity
            android:name="nithra.gift.suggestion.shop.birthday.marriage.Otp.OtpSend"
            android:exported="false" />
        <activity
            android:name="nithra.gift.suggestion.shop.birthday.marriage.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GiftSuggestions"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths_new" />
        </provider>
    </application>

</manifest>